<div class="email">
  <h3 style="color: #B00100;">По всем вопросам, пишите на почту</h3>

  <%= mail_to 'johncherry700@gmail.com' do%>
    <p style="text-decoration: none"> johncherry700@gmail.com </p>
  <% end %>
</div>